/* Footer section */
.footer {
    display: flex;
    justify-content: center;
    color: var(--clr-magneta-grayish-dark);
    margin: 80px 0 0 0;
    animation: footer-slide 3s;
}

.footer__attribution {
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: var(--clr-pink);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}